<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="account" class="com.hanwhaswcamp.common.PersonalAccount">
        <constructor-arg index="0" value="20"/>
        <constructor-arg index="1" value="110-234-567890"/>
    </bean>

    <!-- 생성 된 다른 bean을 의존성 주입할 경우 value 속성이 아닌 ref 속성을 사용하며 bean id를 전달 -->
<!--    <bean name="member" class="com.hanwhaswcamp.common.MemberDTO">-->
<!--        <constructor-arg name="sequence" value="1"/>-->
<!--        <constructor-arg name="name" value="홍길동"/>-->
<!--        <constructor-arg name="phone" value="010-1234-5678"/>-->
<!--        <constructor-arg name="email" value="hongg@gmail.com"/>-->
<!--        <constructor-arg name="personalAccount" ref="account"/>-->
<!--    </bean>-->
<!--    new MemberDTO(1,"","","",account)-->


    <!-- 2. setter 주입 -->
    <bean name="member" class="com.hanwhaswcamp.common.MemberDTO">
        <property name="sequence" value="1"/>
        <property name="name" value="홍길동"/>
        <property name="phone" value="010-1234-5678"/>
        <property name="email" value="hongg@gmail.com"/>
        <property name="personalAccount" ref="account"/>
    </bean>
<!--    MemeberDTO member = new MemberDTO();
    member.setPersonalAccount(account);-->
</beans>